@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  @apply box-border;
}
* {
  @apply m-0;
}
html,
body {
  @apply h-full;
}
body {
  @apply leading-relaxed antialiased;
  font-family: 'Lato', sans-serif;
}
img,
picture,
video,
canvas,
svg {
  @apply block max-w-full;
}
input,
button,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply break-words;
}
#root,
#__next {
  @apply isolate;
}

html {
  color-scheme: dark;
}

body {
  background-attachment: fixed;
  background-image: conic-gradient(
    from 270deg at 50% -20%,
    hsl(240deg 40% 5%) 50%,
    hsl(250deg 40% 20%),
    hsl(250deg 30% 25%),
    hsl(250deg 40% 20%),
    hsl(240deg 40% 5%)
  );
}
